<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма заполнения новой услуги</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container" align="center">

    <h2>Форма заполнения новой услуги</h2>
    <div>
        <form class="form-horizontal" th:object="${uslugaForm}" th:action="@{/service}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>

            <input type="hidden" th:field="*{idservice}"/>

            <div class="form-group" th:class="${#fields.hasErrors('servicename')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Название услуги:</label>
                <div class="col-sm-10">
                    <input type="text" pattern="^[А-Яа-яЁё\s]+$" class="form-control" required th:field="*{servicename}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('servicename')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('price')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Цена услуги:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" required th:field="*{price}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('price')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>


            <div class="row">
                <button type="submit" class="btn btn-default">Добавить</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>