<!DOCTYPE html>
<html lang="en">
<head>
    <title>Услуги</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css">
TABLE {
    border-collapse: collapse; /* Убираем двойные линии между ячейками */
   }
   TD, TH {
    padding: 3px; /* Поля вокруг содержимого таблицы */
    border: 1px solid black; /* Параметры рамки */
   }
   TH {
    background: #b0e0e6; /* Цвет фона */
   }
   body {margin: 0;padding: 0;font-family: sans-serif;}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
html{
  background-color: #FFF8DC;
  height: 100%;
}
a.button9 {
  position: relative;
  display: inline-block;
  color: #9400D3;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
  user-select: none;
  padding: 1em 2em;
  outline: none;
  border-radius: 3px / 100%;
  background-image:
   linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
   linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
a.button9:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
a.button9:active {
  top: 1px;
}
</style>
</head>
<body>
<div class="topnav">
    <a class="active" href="/doctor">Доктора</a>
    <a href="/schedule">Расписание</a>
    <a href="/patient">Пациент</a>
    <a href="/service">Услуги</a>
    <a href="/visit">Приёмы</a>
</div>
<div class="container" align="center">
    <div th:if="${not #lists.isEmpty(visits)}" align="center">
        <h2>Приёмы</h2>
        <table class="table table-striped" >
            <tr>
                <th>Id</th>
                <th>Id Доктора</th>
                <th>Пациент</th>
                <th>Дата приёма</th>
                <th>Название услуги</th>
                <th>Цена приёма</th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
            <tr th:each="visits: ${visits}">
                <td th:text="${visits.idvisit}" align="center"></td>
                <td th:text="${visits.iddoc}" align="center"></td>
                <td th:text="${visits.pacientname}" align="center"></td>
                <td th:text="${visits.visitdate}" align="center"></td>
                <td th:text="${visits.servicetype}" align="center"></td>
                <td th:text="${visits.totalprice}" align="center"></td>
                <td><a th:href="${'/visit/show/' + visits.idvisit}" align="center">Посмотреть</a> </td>
                <td><a th:href="${'/visit/edit/' + visits.idvisit}" align="center">Редактировать</a> </td>
                <td><a th:href="${'/visit/delete/' + visits.idvisit}" align="center">Удалить</a> </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <br><br>
            <big><a href="/visit/new" class="button9" >Добавить новый приём</a></big>
        </div>
    </div>
</div>
</body>
</html>