<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма заполнения сотрудника</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container" align="center">

    <h2>Форма заполнения сотрудника</h2>
    <div>
        <form class="form-horizontal" th:object="${doctorForm}" th:action="@{/doctor}" method="post">

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>

            <input type="hidden" th:field="*{iddoctor}"/>

            <div class="form-group" th:class="${#fields.hasErrors('firstname')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Имя:</label>
                <div class="col-sm-10">
                    <input type="text" pattern="^[А-Яа-яЁё\s]+$" class="form-control" required th:field="*{firstname}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('firstname')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('lastname')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Фамилия:</label>
                <div class="col-sm-10">
                    <input type="text" pattern="^[А-Яа-яЁё\s]+$" class="form-control" required th:field="*{lastname}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('lastname')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('age')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Возраст:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" required th:field="*{age}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('age')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('special')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Специальность:</label>
                <div class="col-sm-10">
                    <input type="text" pattern="^[А-Яа-яЁё\s]+$" class="form-control" required th:field="*{special}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('special')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('schedule')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Расписание:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required th:field="*{schedule}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('schedule')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="form-group" th:class="${#fields.hasErrors('phonenum')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Телефон:</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" required th:field="*{phonenum}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('phonenum')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn btn-default">Добавить</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>