<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
#table-class {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}
#table-class td, #table-class th {
  border: 1px solid black;
  padding: 20px;
  font-weight: 700;
}
#table-class tr:nth-child(even){background-color: #FFEFD5;}

#table-class tr:hover {background-color: #FFEFD5;}

#table-class th {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #DEB887;
  color: black;
}
.content{
  height: 150%;
}
html{
  background-color: #B0E0E6;
  height: 100%;
}
body{
  min-height: 95%;
  display: grid;
  grid-template-rows: 1fr auto;
}
h2 {
    text-align: center;
    margin: 40px 0 40px;
    text-align: center;
    font-size: 40px;
    color: #FF6347;
    text-shadow: black 1px 1px 0, black -1px -1px 0,
                 black -1px 1px 0, black 1px -1px 0;
    font-family: 'Verdana', sans-serif;
}
</style>
<body>
<div class="container" align="center">

    <div class="row" >
        <div class="col-sm-6">
            <h2>Наш сотрудник</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8" >
            <table id="table-class">
                <tr th:each="doctors : ${doctors}">
                    <th>Id Доктора</th>
                    <td th:text="${doctors.iddoctor}" align="center"></td>
                </tr>
                <tr th:each="doctors : ${doctors}">
                    <th>Имя сотрудника</th>
                    <td th:text="${doctors.firstname}" align="center"></td>
                </tr>
                <tr th:each="doctors : ${doctors}">
                    <th>Фамилия сотрудника</th>
                    <td th:text="${doctors.lastname}" align="center"></td>
                </tr>
                <tr th:each="doctors : ${doctors}">
                    <th>Возраст</th>
                    <td th:text="${doctors.age}" align="center"></td>
                </tr>
                <tr th:each="doctors : ${doctors}">
                    <th>Специальность</th>
                    <td th:text="${doctors.special}" align="center"></td>
                </tr>
                <tr th:each="doctors : ${doctors}">
                    <th>Телефон</th>
                    <td th:text="${doctors.phonenum}" align="center"></td>
                </tr>
                <tr th:each="doctors : ${doctors}">
                    <th>Номер расписания</th>
                    <td th:text="${doctors.schedule}" align="center"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>